body {
  font-family: 'Mukta Mahee', sans-serif;
}
/* section images*/
.image {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
}

.home {
  background-image: url("../images/background.jpg");
}

.section2 {
  background-image: url("../images/section2.jpg");
}

.section3 {
  background-image: url("../images/section3.jpg");
}

.section4 {
  background-image: url("../images/section4.jpg");
}

.linkToNav3 a {
  color: #ffffff;
  font-size: 1.5rem;
  position: relative;
  top: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
